body {
    overflow: hidden;
    user-select: none;
    font-weight: 650;
    font-family: 'Lato', sans-serif;
}

.mainmenu-container {
    position: absolute;
    width: 897px;
    height: 847px;
    background: url(https://cdn.discordapp.com/attachments/632893308422586388/1116854575928979506/pmenu.png);
    left: 50%;
    top: 50%;
    margin-top: 10vh;
    display: none;
    transform: translate(-50%, -50%);
    border-style: solid;
    border-color: #000000;
}